<div class="container">
<div class="row">
    <div class="col-md-2">
      <div class="card card-block">
        <% if user_signed_in? %>
          <h4 class="card-title">Your Account</h4>
          <p class="card-text">Account infformation to be displayed here</p>
          <p class="card-text"><%= link_to current_user.username, user_path(current_user.username) %></p>
        <% else %>
          <p class="card-text"><%= link_to "Sign up now!", signup_path %></p>
        <% end %>
      </div>
    </div>
    <div class="col-md-8">
      <% if user_signed_in? %>
        <centre><%= link_to 'New Tweet', new_tweet_path, class: 'btn btn-primary' %></centre>
      <% end %>
      <ul class="list-group">
        <h1>Tweets</h1>
        <% @tweets.each do |tweet| %>
          <%= link_to tweet, class: "list-group-item list-group-item-action" do %>
            <h5 class="list-group-item-heading"><%= tweet.user.username %></h5>
            <p class="list-group-item-text"><%= tweet.content %></p>
            <p class="list-group-item-text">Likes: <%= tweet.votes_for.up.size %></p>
            <%= form_with(url: vote_tweet_path(tweet), method: :post) do |f| %>
              <%= f.submit 'Like', class: 'btn btn-primary btn-sm' %>
            <% end %>
            <%= form_with(url: unvote_tweet_path(tweet), method: :delete) do |f| %>
              <%= f.submit 'Unlike', class: 'btn btn-primary btn-sm' %>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>