<!DOCTYPE html>
<html>
  <head>
    <title>Benn Miley CAD Project</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <meta name="viewport" content="width=device-width">
  </head>

  <body>
    <%= render 'layouts/nav'%>
    <%= yield %>

  </body>


<!-- Footer -->
    <footer class="small text-muted">
      <div class="container">
        <hr>
        <center>
          <p>© 2023 Benn Miley</p>
        </center>
      </div>
    </footer>
  </body>
</html>
